Librerias necesarias: <br>
<ul>
    <li>
        pip install ipykernel
    </li>
    <li>
        pip install pandas
    </li>
    <li>
        pip install SQLAlchemy
    </li>
        <li>
        pip install pymysql
    </li>
    </li>
    <li>
        pip install cryptography
    </li>
</ul>

In [14]:
import pandas as pd
import sqlalchemy as db

from sqlalchemy import create_engine, text

In [15]:
# Reemplaza con tus credenciales y detalles de conexión
usuario = 'user'
contraseña = 'user'
host = 'localhost'
puerto = '3306'
nombre_basedatos = 'db_movies_awards'

# Crear la cadena de conexión
conexion_url = f"mysql+pymysql://{usuario}:{contraseña}@{host}:{puerto}/{nombre_basedatos}"

# Crear el engine de SQLAlchemy
engine = create_engine(conexion_url)

## Probar la conexión

In [16]:
connection = None
try:
    # Abre una conexión
    connection = engine.connect()
    result = connection.execute(text("SELECT * FROM dim_movie"))
    for row in result:
        print(row)
    print("Conexión exitosa")
except Exception as e:
    print("Error de conexión:", e)
finally:
    # Cierra la conexión manualmente si fue abierta
    if connection:
        connection.close()

Conexión exitosa

#   Aplicación de un proceso ETL con Python y MySQL

##  Cargamos datos en la Dim Movie

In [31]:
df_movie = pd.read_csv(r"C:\Personal\Data Engineer Program\Datapath---Data-Engineer-Program\MODULO04 - AnalisisDatosPython\TAREA\data\Awards_movie.csv", delimiter=",")
df_movie.head()

    movieID  IdAward   Aware
0  80210920        0   Oscar
1  81157374        1  Grammy
2  80192187        2   Oscar

In [23]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieID  3 non-null      int64
 1   IdAward  3 non-null      int64
 2   Aware    3 non-null      object
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [24]:
df_movie['IdAward'] = df_movie['IdAward'].astype(str) # Cambiar tipo de dato
df_movie = df_movie.rename(columns={'IdAward': 'awardID', 'Aware': 'aware'}) # Renombrar columnas

In [28]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieID  3 non-null      int64
 1   awardID  3 non-null      object
 2   aware    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [25]:
connection = engine.connect()
df_movie.to_sql('dim_movie', connection, if_exists='append', index=False)
connection.close()

##  Cargamos datos en la Dim User

In [30]:
df_users = pd.read_csv(r"C:\Personal\Data Engineer Program\Datapath---Data-Engineer-Program\MODULO04 - AnalisisDatosPython\TAREA\data\users.csv", delimiter="|")
df_users.head()

    idUser     username    country subscription
0  1002331      user123        USA      Premium
1  1002332  gamerGirl97     Canada        Basic
2  1002333   techMaster         UK      Premium
3  1002334    soccerFan     Brazil        Basic
4  1002335    travelBug  Australia      Premium

In [32]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   idUser        20 non-null     int64
 1   username      20 non-null     object
 2   country       20 non-null     object
 3   subscription  20 non-null     object
dtypes: int64(1), object(3)
memory usage: 768.0+ bytes

In [33]:
df_users.columns

Index(['idUser', 'username', 'country', 'subscription'], dtype='object')

In [34]:
df_users = df_users.rename(columns={'idUser': 'userID', 'username': 'user_name'}) # Renombrar columnas

In [35]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userID        20 non-null     int64
 1   user_name     20 non-null     object
 2   country       20 non-null     object
 3   subscription  20 non-null     object
dtypes: int64(1), object(3)
memory usage: 768.0+ bytes

In [36]:
connection = engine.connect()
df_users.to_sql('dim_user', connection, if_exists='append', index=False)
connection.close()

##  Cargamos datos en la Tabla de hechos participantes

In [37]:
df_participants = pd.read_csv(r"C:\Personal\Data Engineer Program\Datapath---Data-Engineer-Program\MODULO04 - AnalisisDatosPython\TAREA\data\Awards_participants.csv", delimiter=",")
df_participants.head()

   ParticipantID   Aware
0       72129839   Oscar
1       20432364  Grammy
2       73235434   Oscar

In [38]:
df_participants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ParticipantID  3 non-null      int64
 1   Aware          3 non-null      object
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [39]:
connection = engine.connect()
df_participants.to_sql('participants', connection, if_exists='append', index=False)
connection.close()